img {
  width:100%;
  height: auto;
}

.nav-link {
    color: white;
}

nav{
  line-height:1.2;
  font-size:1.2vw;
}
.text {
  margin-top:10%;
}
@media screen and (min-width: 768px){
  img {
    width:100%;
    height: auto;
    margin-top:15%;
    body{
      line-height:2;
      font-size:1.8vw;
    }
  }

}
h2{
  font-size:1.1em !important;
}
