<div class="container-fluid" id="item1">
  <div class="row">
    <div class="col-md-6 col-xs-12" >
      <div class="text">
      <h2>貨櫃運輸的沒落</h2>
      <p>
        自國民政府戰後接管台灣，政府便展開一連串的港灣修復以及擴建工程。在八零年代，基隆港貨櫃運輸量達到巔峰，甚至在1984年奪得世界貨櫃評比第七名。然而自九零年代起，由於國內外港口競爭，加上擁有廣大腹地的中國崛起，基隆港相形失色，被中國港口所取代，不再是亞太地區轉運中心。
<br>由表一可看出基隆貨櫃裝卸量整體呈現逐年下降的趨勢，而在2008年間，由於基隆港受到金融風暴的影響，使其貨運量下滑最為嚴重。其後，台北港貨櫃中心的正式營運，也為基隆港的沒落增上一筆。
      </p>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 ">
      <img src="img/photo6.png" alt="photo6">
      <p style="font-size:8px;">資料來源:基隆港務公司</p>
    </div>
  </div>
</div>

<div class="container-fluid" id="item2">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="text">
      <h2>社會增加率</h2>
      <p>
      由圖表可看出基隆的社會增加率於2003-2015年間都維持負成長，甚至於2010年降到接近-1%的成長率。然而，由於雙北房價上漲，基隆的社會增加率開始微幅上升，且在2016年由負轉正。如何解決人口流失的問題，並積極營造良好就業環境是政府重要的課題。

      </p>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <img src="img/social.png" alt="photo6">
      <p style="font-size:8px;">資料來源:基隆市主計處</p>
    </div>
  </div>
</div>

<div class="container-fluid" id="item3">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="text">
      <h2>跨縣市通勤率</h2>
      <p>
隨著交通的進步與科技的發展，跨縣市通勤變得越來越便利。相較於基隆，台北作為首都擁有更豐富的教育資源和工作機會，因此許多基隆人在國中畢業後便選擇到台北就學，甚至有些人在大學畢業後，仍會留在台北找工作。根據行政院主計處2017年的統計資料，基隆跨縣市通勤率居全台之冠，比例高達39%。由此可見基隆政府應積極創造本地就業機會，提供更良好的工作環境，以避免人才持續流失。
      </p>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <img src="img/photo8.png" alt="photo8">
       <p style="font-size:8px;">資料來源:行政院主計總處國勢普查處</p>
    </div>
  </div>
</div>
<div class="container-fluid" style="margin-bottom:10%;" id="item4">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="text">
      <h2>郵輪新興產業</h2>
      <p>
        在亞洲郵輪市場興起下，鄰近首都台北，且位於市區的基隆港，因享有此些特殊優勢，使其成為遊客來台觀光的最佳路徑之一。從表二可看出國際郵輪停靠數量和遊客人數都逐年攀升，市政府近年來也與港務局積極聯手合作，推動港市發展計畫，打算將軍港和貨櫃場遷移，打造更完善的空間讓郵輪停靠。此外，政府也將強化碼頭設備的更新和提升，提供郵輪更好的作業環境。
      </p>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <img src="img/photo9.png" alt="photo9">
      <p style="font-size:8px;">資料來源:基隆港務公司</p>

    </div>
  </div>
</div>
