<!-- Bootstrap CSS -->
<!-- <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'/> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="/blog-contest/css/simple-sidebar.css" rel='stylesheet' type='text/css'/>
<link href="/blog-contest/css/font-awesome.min.css" rel='stylesheet' type='text/css'/>
<link href="/blog-contest/css/font-extra.css" rel='stylesheet' type='text/css'/>
<link href="/blog-contest/css/global.css" rel='stylesheet' type='text/css'/>
<link href="/blog-contest/css/footer.css" rel='stylesheet' type='text/css'/>
