<div class="container-fluid">
  <div class="row  order">
    <div class="col-md-8 col-xs-12 ">
      <div class="article">
      <h3>序，敘。</h3>

「爺爺、爺爺！」<br>

外面正下著雨，盈明清脆的嗓音穿透厚重的雨聲模糊地傳來，我睜開雙眼，怎麼又在躺椅上睡著了呢？盈明張著一雙靈動的眼睛，手上拿著老舊的相本，斑駁泛黃的封面似乎昭示著大眾－我，生於遙遠的年代。<br>

1900年代初，街上到處都看得到日本人，基隆一下變得擁擠，有時我甚至懷疑自己是否為日本人。 <br>

「砰啪、砰啪」<br>
「軋啦、軋啦、軋啦…」<br>

那時除了雨聲 外，最熟悉的就是這個聲音了，連睡覺都縈繞在腦海，與夢 攪在一起。它是永不停歇的存在，彷彿本來就在那裡，像空氣一般。<br>


      </div>
      <br>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="photo">
        <img src="img/page1.jpg" alt="page1">
      </div>
    </div>
  </div>
</div>
