<div class="container-fluid" id="page-1">
  <div class="row  order">
    <div class="col-md-8 col-xs-12 ">
      <div class="article">
      <h3><span>序，憶。</span></h3>
      那是一本老舊的相本，長年擺在櫃子裡，斑駁泛黃的封面積了厚厚一層灰，輕輕一翻，「劈啦－」互相擁抱的紙張硬是被我拆開，一股霉味傳來。

      <br>20年前，同樣的地方、同樣的櫃子，我也曾翻開它，當時爺爺就在我身旁，雨同樣下著。

      <br>「爺爺，櫃子裡那是什麼啊？」
      <br>「咦！那不是……來，爺爺給你講個故事。」



      </div>
      <br>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="photo">
        <img src="img/photo1.jpg" alt="page1">
      </div>
    </div>
  </div>
</div>
