<div class="container-fluid">
  <div class="row  order">
    <div class="col-md-8 col-xs-12 ">
      <div class="article">
        <br>船隻送來的美國大兵喧囂了基隆，舞廳、酒家是他們最愛的地方，戰爭的不確定性使他們視當下為永恆，紙醉金迷、縱情歌舞，美元漫天飛舞著。愈來愈多的舞廳、酒家在黑暗中浮現，蠢蠢欲動的生氣似乎隨時會衝破這看似寧靜的夜。

        <br>來往的軍艦不僅送來美國大兵，更帶來大量的舶來品，那些東西都是跑遍全台都找不著的稀有品，就算不是，美國來的東西怎樣都是好貨吧！看得我雙眼放光，真想全天24小時都賴在委託行裡等待有什麼新品出現。那時的委託行街可說是全台灣最時尚的商圈，美國進口的東西全聚集到了這，交由委託行轉賣，且用美金計價。

        <br>除了委託行外，負責處理進出口貨物及海關文件的報關行也隨處可見，當時的我也在報關行工作，每天可都是忙著呢！有時還真希望進來的船隻少一些。

      </div>
      <br>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="photo">
        <img src="img/photo2.jpg" alt="page1">
      </div>
    </div>
  </div>
</div>
