<div class="container-fluid">
  <div class="row  order">
    <div class="col-md-12 col-xs-12 ">
      <div class="article">

        <br>1900年代初，街上到處都看得到日本人，基隆一下變得擁擠，有時我甚至懷疑自己是否為日本人。

        <br>「砰啪、砰啪」
        <br>「軋啦、軋啦、軋啦…」

        <br>那時除了雨聲 外，最熟悉的就是這個築港的聲音了，連睡覺都縈繞在腦海，與夢 攪在一起。它是永不停歇的存在，彷彿本來就在那裡，像空氣一般。

        <br>追尋它而來的，有船、有魚貨、有商人，基隆一下亂了，來往的船隻載著一批批商人、魚貨，倒進潮濕的基隆，從此，基隆有了另一種味道。那時的基隆港是台灣第一大港，年幼的我還不知道，這只不過是出航前的收繩罷了。

        <br>有一天，它突然停了，世界原本有這麼靜的嗎？在我尚未適應這靜得有些孤寂的基隆時，太平洋戰爭爆發，瀰漫空氣的轟隆聲和伸手可及的砲彈爭先恐後搶著填補這廣闊無邊的空虛，基隆再次熱鬧起來，只是這次，基隆碎了，夢，也碎了。
        <br>1950年代，中美共同防禦條約簽訂，時間彷彿退回日治時期，只是這次略有些不同，上岸的是美國大兵，而軍艦取代了漁船，基隆進入最繁盛的時期。

      </div>
      <br>
    </div>

  </div>
</div>
