<div class="container-fluid">
  <div class="row  order">
    <div class="col-md-12 col-xs-12 ">
      <div class="article">

        <br>追尋它而來的，有船、有魚貨、有商人，基隆一下亂了，來往的船隻載著一批批商人、魚貨，倒進潮濕的基隆，從此，基隆有了另一種味道。那時的基隆是台灣第一大港，年幼的我還不知道，這只不過是出航前的收繩罷了。

        <br>有一天，它突然停了，世界原本有這麼靜的嗎？在我尚未適應這靜得有些孤寂的基隆時，太平洋戰爭爆發，瀰漫空氣的轟隆聲和伸手可及的砲彈爭先恐後搶著填補這廣闊無邊的空虛，基隆再次熱鬧起來，只是這次，基隆碎了，夢，也碎了。

        <br>1950年代，中美共同防禦條約簽訂，時間彷彿退回日治時期，只是這次略有些不同，上岸的是美國大兵，而軍艦取代了漁船，基隆進入最繁盛的時期。
        <br>船隻送來的美國大兵喧囂了基隆，舞廳、酒家是他們最愛的地方，蠢蠢欲動的生氣隱藏在深沉的夜幕之中，愈來愈多的舞廳、酒家在暗黑中浮現，似乎想攫住即將衝破寧靜的躁動，將它們收回隱匿的空間，悄悄的、偷偷的……
        <br>來往的軍艦不僅送來美國大兵，更帶來大量的舶來品，那些東西都是跑遍全台都找不著的稀有物品，就算不是，美國來的東西怎麼樣都是好貨吧！看得我們雙眼放光，真想全天24小時都賴在委託行裡等待有什麼新品出現。那時的委託行街可說是全台灣最時尚的商圈，美國進口的東西全聚集到了這，交由委託行轉賣，且用美金計價。

      </div>
      <br>
    </div>

  </div>
</div>
