<div class="container-fluid" id="page-2">
  <div class="row  order">
    <div class="col-md-12 col-xs-12 ">
      <div class="article">
<h3>貳，落。</h3>
「可是爺爺，我記得你是計程車司機啊！怎麼會在報關行工作呢？」

<br>那是之後的事啦，從過去的歷史來看，基隆的五光十色多虧了基隆港，而基隆港的興起是船隻、日本人及美軍堆疊起來的，但後來日本人走了，美軍也走了，連船隻都投入高雄港 的懷抱，基隆港像是被遺棄的嬪妃，雨是妃的淚，為乘船離去的帝王而泣，為一間間結束營業的委託行、一家家徹底消失在夜幕中的酒家而泣，與船隻共生共存的報關行也黯然失色，基隆的就業機會少了 ，人口開始大量外移 ，選擇留在當地的人也大多通勤 到台北工作了，我也免不了尋找其他工作的命運，後來就當計程車司機啦！

<br>記得有一次啊，當我正拉著嗓子高喊著：「基隆叫客喔！有人欲坐無？」一位來自台北的小姐蹬著大概十二公分高的高跟鞋坐了進來，印象可深了，因為從來只有基隆人往台北跑，很少有台北人往基隆來。

<br>「基隆叫客喔！欲坐無？」當我再次高喊著招攬客人時，那位小姐還被我嚇了一跳，看來知道基隆叫客這個共乘文化的外地人還是少數啊！

<br>「爺爺，那……」
<br>「好了好了，明早還要上學呢，今天就到這吧，其他的明天再聊。」
<br>「好吧，爺爺晚安。」



      </div>
      <div class="git">
      <img src="img/boat.gif" alt="gif" style="margin-top:0;">
      </div>
      <br>
    </div>
  </div>
</div>
