<div class="container-fluid" id="page-3">
  <div class="row  order" id="page5">
    <div class="col-md-8 col-xs-12 ">
      <div class="article float">
        <h3><span>參，念。</span></h1>
          記得那晚，像有一班劇團住進了我的腦袋，爺爺說的故事不斷上演著。許是興奮著聽接下來的故事吧，隔天一早難得的忘了帶傘上學，基隆的雨說下就下，沒帶傘出門可是要淋個落湯雞的！

        <br>  果真那天放學時基隆又是大雨磅礡，不過校門轉角處出現了熟悉的身影－爺爺。基隆的學校大多在山上，上學前總是要爬好長一段坡，年邁的爺爺卻還是替我送傘，我高興地抱住爺爺，殊不知，這將是最後一次。

        <br>  回家時經過廟口，仁三路上人聲像沸騰的水，咕嘟咕嘟冒著泡，從沒有停過，有些店甚至晚上十二點才開始營業，我高興的像是第一次來到基隆的觀光客，而爺爺則似乎墜入了不同的時空。
        <br> 後來我在日記上看見爺爺寫著：「……看著這熱鬧的光景，影像似乎和過去繁華的基隆重疊在一起，那時的基隆啊，像是被吹了氣的氣球，不斷的膨脹、膨脹，但最後終究是破了。

      </div>
    </div>
    <div class="col-md-4 col-xs-12">

      <img id="p5" src="img/temple.jpg" alt="temple">

      <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="margin-top:25%;">
  <div class="carousel-inner" >
    <div class="carousel-item active">
      <img class="d-block " src="img/photo3-1.jpg" alt="First slide" style="width:100%;height:100%" >
    </div>
    <div class="carousel-item">
      <img class="d-block " src="img/photo3-2.jpg" alt="Second slide" style="width:100%;height:100%" >
    </div>
  </div>

    </div> -->
  </div>
  </div>
</div>
