<div class="container-fluid">
  <div class="row  order">
    <div class="col-md-8 col-xs-12 ">
      <div class="article" style="margin-right:5%;">
      <br>  「老闆！那邊那個像馬卡龍的是什麼啊？」

      <br>有著南部口音的聲音將我的思緒拉了回來，定睛一看－觀光客。那是蛋腸，用新鮮雞蛋灌入豬小腸做成的小吃，基隆的滷味攤和火鍋店都有這樣配料。我走過去向他解釋，順勢叫了一份，差點就忘了來這裡的目的了。

      <br>「謝謝你啊！」
      <br>  「不會。再跟你推薦一個基隆特色小吃－吉古拉，是用新鮮的鯊魚肉加上鹽、太白粉等調味料，打成新鮮魚漿後包覆在鋼管上，再利用炭火烤熟，在麵攤幾乎都可以吃到。」
      <br>  「哦！這小吃我可是第一次聽到，待會就去嚐嚐，謝謝你啊！」



      </div>
      <br>
    </div>
    <div class="col-md-4 col-xs-12">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="margin-top:25%;">
  <div class="carousel-inner" >
    <div class="carousel-item active">
      <img class="d-block " src="img/jikula.jpg" alt="First slide" style="width:100%;height:100%">
    </div>
    <div class="carousel-item">
      <img class="d-block " src="img/jikula2.jpg" alt="Second slide"style="width:100%;height:100%">
    </div>
  </div>

    </div>
  </div>
  </div>
</div>
