<div class="container-fluid" style="margin-top:5%;">
  <div class="row  order">
    <div class="col-md-8 col-xs-12 ">
      <div class="article" >
        現在的觀光客，都只會來廟口這邊吃吃東西就毫不留情轉身離開，不知有多少人記住基隆曾經光輝的過往呢？」

  <br>  「老闆！那個像馬卡龍的是什麼啊？」

  <br>  拉著爺爺，我們不知不覺走到滷味攤前，有著南部腔調的聲音將爺爺的思緒拉了回來，「那是蛋腸，用新鮮雞蛋灌入豬小腸做成的，基隆的滷味攤和火鍋店都有。」當我正打量著這位觀光客，猜想他從哪裡來時，爺爺已經與他攀談起來了。

    <br>「再向你推薦一個基隆特色小吃－吉古拉，用新鮮鯊魚肉加上鹽、太白粉，打成新鮮魚漿後包覆在鋼管上，再用炭火烤熟，在麵攤幾乎都可以吃到。」
    <br>「哦！這小吃我可是第一次聽到，待會就去嚐嚐，謝謝你啊！」




      </div>
      <br>
    </div>
    <div class="col-md-4 col-xs-12">
      <img id="p6"src="img/noodles.jpg" alt="noodles">
      <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="margin-top:25%;">
  <div class="carousel-inner" >
    <div class="carousel-item active">
      <img class="d-block " src="img/photo4-1.jpg" alt="First slide" style="width:100%;height:100%">
    </div>
    <div class="carousel-item">
      <img class="d-block " src="img/photo4-2.jpg" alt="Second slide"style="width:100%;height:100%">
    </div>
  </div>

    </div> -->
  </div>
  </div>
</div>
