<div class="container-fluid" id="page-4">
  <div class="row  order">
    <div class="col-md-12 col-xs-12 ">
      <div class="article" style="margin-right:0%;">
        <h3>肆，興。</h3>
那天回家後，爺爺看起來特別疲倦，之後就再沒機會和爺爺出外走走了。真想讓爺爺看看現在的基隆，雖是依然回不去之前輝煌的時代，但基隆甦醒了，2017年基隆獲得「亞洲最佳郵輪母港 」的稱號，近幾年基隆市長也與中央密切合作，共同推動「港市發展計畫 」，解決長期以來中央與地方政府不協調導致的經濟停滯。
<br>我呢，也忘不了爺爺說起從前時總是熠熠生輝的雙眼，積極參與「空間再生 」計畫，為老舊地區重新潑上絢爛的漆。基隆停滯了這麼多年，過去的繁華像海市蜃樓般虛無飄渺，但浪依舊，洶湧、堅毅；海依舊，柔軟、靈活，彷彿時時鍥而不捨提醒著我們，別放棄，基隆會以別的面貌再現。

      </div>
    </div>
  </div>
</div>
