<div class="container-fluid">
  <div class="row  order">
    <div class="col-md-12 col-xs-12 ">
      <div class="article" style="margin-right:5%;">
        <h3>標題：</h3>

        <br>「哇！！有蛋腸和吉古拉！爺爺…爺爺你怎麼啦？是不是不開心？」

        <br>爺爺那時的表情到現在仍深印在我腦海，佈滿皺紋的臉與說故事時的意氣風發不同，顯得暗淡無光，皺紋似乎加深了，低垂的雙眼中見不著靈魂，像是飄回了遙遠的過去，駐足在那。

        <br>後來爺爺就沒有回來了，真想讓爺爺看看現在的基隆，雖是依然回不去之前輝煌的時代，但基隆甦醒了，2017年基隆獲得「亞洲最佳郵輪母港」的稱號，這幾年基隆市長也積極推動港市發展計畫，期望振興基隆港，使基隆擺脫沒落的無底深淵。我呢，也忘不了爺爺說起從前時總是熠熠生輝的雙眼，與許多年輕人一同進行「空間再生」計畫，為老舊的地區重新潑上絢爛的漆。基隆停滯了這麼多年，過去的繁華像是海市蜃樓般虛無飄渺，但浪依舊，洶湧、堅毅；海依舊，柔軟、靈活，像是時時鍥而不捨提醒著我們，別放棄，基隆會以別的面貌再現。



      </div>
      <br>
    </div>
  </div>
</div>
