<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>尋，基隆。|我與基隆的對話。</title>

    {% include global-css.html %}
    <link href="css/head.css" rel='stylesheet' type="text/css"/>
    <link href="css/archives.css" rel='stylesheet' type="text/css"/>
    <link href="css/main1.css" rel='stylesheet' type="text/css"/>

</head>
<body>

{% include fb.html %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="https://danielwu951219.github.io/blog-contest/">尋，典 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://danielwu951219.github.io/blog-contest/#page-1">序，憶。</a>
                <a class="dropdown-item" href="https://danielwu951219.github.io/blog-contest/#page-5">壹，華。</a>
                <a class="dropdown-item" href="https://danielwu951219.github.io/blog-contest/#page-2">貳，落。</a>
                <a class="dropdown-item" href="https://danielwu951219.github.io/blog-contest/#page-3">參，念。</a>
                <a class="dropdown-item" href="https://danielwu951219.github.io/blog-contest/#page-4">肆，興。</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://danielwu951219.github.io/blog-contest/analysis.html">尋，詳 <span class="sr-only">(current)</span></a>
            </li>
    </ul>
  </div>
  <div class="fb-share-button  my-2 my-sm-0" data-href="https://danielwu951219.github.io/blog-contest/" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdanielwu951219.github.io%2Fblog-contest%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">分享</a></div>

  </nav>

    <div id="wrapper" >
       {% include head1.html %}
       {% include analysis-content.html %}
       {% include footer.html %}


    </div>

    {% include global-js.html %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://use.typekit.net/hcn1hrh.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>


</body>
</html>
